* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Readex Pro", sans-serif;
  }
  body {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-areas:
      "viewport viewport property"
      "viewport viewport property"
      "viewport viewport css"
      "viewport viewport css";
  }
  #viewport {
    border: 0.1rem solid black;
    grid-area: viewport;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #experiment{
      border: 0.3rem solid black;
      width: 70%;
      height: 62%;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  #property {
    border: 0.1rem solid black;
    grid-area: property;
    height: 55vh;
  }
  #css {
    border: 0.1rem solid black;
    grid-area: css;
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 45vh;
  }
  input{
    font-size: 1rem;
  }
  .css-h3 {
    text-align: center;
    margin: -7rem 0rem 2rem 0rem;
  }
  .cone {
    margin: 1.3rem 0px 0px 10rem;
  }
  #left-top{
    margin-top: 0.5rem;
  }
  #property p{
    display: inline-block;
  }
  #property{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.5rem;
  }
  #property h5{
    margin: 0.8rem 0rem 0rem 8rem;
  }
  #copy{
    padding: 1.3rem;
    margin: 3.4rem 0px 0px 8rem;
    width: 25%;
    font-size: 1rem;
  }

  @media screen and (max-width: 450px){
    *{
      font-size: 1rem;
    }
    body{
      grid-template-areas: 
      'viewport'
      'css'
      'property'
      ;
      height:fit-content;
    }
    #viewport{
      height: 20rem;
      width: 100vw;
      border: 2px solid black;
      border: none;
    }
    #css{
      width: 100vw;
      display:flex;
      justify-content: center;
      border: none;
      height: 25vh;
      font-size: 0.9rem;
      font-weight: normal;
      /* border: 2px solid black; */
    }
    #css input{
      width: 40%;
      height: 80%;
      font-weight: normal;
      font-size: 80%;
      border: 1px solid black;
    }
    .css-h3{
      margin: -3rem 0px 20px 0px;
    }
    .cone{
      margin: 0.2rem 0px 0.2rem 0.6rem;
    }
    #property{
      height:fit-content;
      width: 100vw;
      padding-top: 1.5rem;
      border: none;
      /* border: 2px solid black; */
    }
    #property h5{
      margin: 0rem 0rem 0rem 0.7rem;
      font-weight: normal;
      font-size: 0.9rem;
    }
    #copy{
      width: 50vw;
      font-size: 0.8rem;
      padding: 0.5rem;
      margin: 2rem 0px 2rem 4.5rem;
    }
    #experiment{
      font-weight: normal;
      font-size: 0.7rem;
      border: 3px solid black;
    }
  }